body, p {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* .navigation {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-left: auto;
    margin-top: 20px;
} */

.navigation a {
    color: black;
    text-decoration: none;
    margin-right: 20px; /*added code */
}

/* added code for profile image */

.navigation a.profile {
    width: 20px;
    height: 20px;
    background-color: slateblue;
    border-radius: 10px;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation img {
    height: 20px;
}

.mainpage {
    width: 50%;
    margin: 38px auto;
    text-align: center;
}

.logo {
    margin-bottom: 25px;
}

#search-bar {
    width: 80%;
    padding: 13px;
    border-radius: 50px;
    border: 1px solid lightgray;
    outline: 0;
}

#search-bar:hover {
    box-shadow: 0 0 5px 3px rgb(231, 231, 231);
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.lang-links {
    margin-top: 30px;
    font-size: 13px;
}

.lang-links a {
    padding-right: 10px;
    text-decoration: none;
    color: darkblue;
}

.lang-links a:hover {
    text-decoration: underline;
}

body, input, button {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

footer {
    background-color: rgb(243, 243, 243);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-upper {
    padding: 18px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.footer-lower {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.footer-lower  a {
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
    text-decoration: none;
}

.footer-lower a:hover {
    text-decoration: underline;
}

.left a {
    margin-right: 20px;
}

.right a {
    margin-left: 20px;
}